.pageTitle {
  color: var(--color, var(--title-color));
  font-size: var(--font-size, 16px);
  font-weight: var(--font-weight, 500);
  text-align: var(--text-align, center);
  line-height: var(--line-height, normal);

  @media screen and (min-width: 992px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}
