.JobResultPage {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #eef7f5;

  .JSection1 {
    position: relative;
    width: 100%;
    padding: 100px 20px 0px 20px;

    @media (min-width: 768px) {
      padding: 140px 60px 0px 60px;
    }

    @media (min-width: 1024px) {
      padding: 180px 80px 0px 80px;
    }

    @media (min-width: 1280px) {
      padding: 186px 100px 0px 100px;
    }

    .JS1Box {
      position: relative;
      background: linear-gradient(90deg, #83bfb3 30%, #dfece9 150%);
      border-radius: 25px;
      padding: 24px 35px 0px 35px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      overflow: hidden;

      @media (min-width: 768px) {
        flex-direction: row;
        align-items: stretch;
        padding: 24px 0px 0px 35px;
      }

      @media (min-width: 1024px) {
        background: linear-gradient(90deg, #83bfb3 0%, #dfece9 100%);
      }

      .JS1Content {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 2;

        .JS1Text {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          padding-bottom: 11px;

          @media (min-width: 768px) {
            justify-content: flex-start;
          }
        }

        .JS1Text2 {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 20px;

          @media (min-width: 768px) {
            justify-content: flex-start;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 58px;
          }
        }

        .JS1Container {
          width: 100%;
          max-width: 400px;
          margin: 0 auto;

          @media (min-width: 768px) {
            max-width: 586px;
            margin: 0;
          }

          .JS1SearchWrapper {
            position: relative;
            padding-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            z-index: 1;

            @media (min-width: 768px) {
              justify-content: flex-start;
            }

            .JS1InputWrapper {
              position: relative;
              width: 100%;
              border-radius: 100px;
              border: 1px solid #496a63;
              overflow: hidden;

              @media (min-width: 768px) {
                border: none;
              }

              .JS1Input {
                width: 100%;
                display: flex;
                align-items: center;
              }

              .JS1Image {
                position: absolute;
                right: clamp(8px, 2vw, 12px);
                top: 50%;
                transform: translateY(-50%);
                height: 40px;
                width: 40px;
                object-fit: cover;
                display: flex !important;
                align-items: center;
                justify-content: center;
              }
            }
          }

          .JS1RowBoxes {
            position: relative;
            width: 100%;
            padding-bottom: 35px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;

            @media (min-width: 768px) {
              justify-content: flex-start;
            }

            .JS1Boxes {
              position: relative;
              width: 139px;
              height: 40px;
              padding: 0 15px;
              border: 1.5px solid #ffffff;
              border-radius: 10px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              .JS1Text3 {
                position: relative;
                width: 100%;
                white-space: nowrap;
              }

              .JS1Image2 {
                position: relative;
                width: 12px;
                height: 6px;
                object-fit: contain;
              }
            }
          }
        }
      }

      .JS1Image3 {
        width: 100%;
        display: none;
        position: relative;
        overflow: hidden;

        @media (min-width: 1024px) {
          position: absolute;
          overflow: hidden;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          bottom: -50px;
          right: -50px;
          pointer-events: none;
        }

        /* Ellipse background */
        &::before {
          content: '';
          position: absolute;
          width: 495px;
          height: 495px;
          border-radius: 50%; // ellipse
          background-color: #83bfb3; // change to your color
          bottom: -150px;
          right: -30px;
          pointer-events: none;
          z-index: 0;
        }

        img {
          position: relative;
          z-index: 1;
          width: 100%;
          width: 750px;
          max-width: none;
          height: auto;
          object-fit: cover;
          pointer-events: none;
        }
      }
    }
  }

  .JSection2 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;

    @media (min-width: 768px) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media (min-width: 1024px) {
      padding-left: 80px;
      padding-right: 80px;
      padding-bottom: 60px;
    }

    @media (min-width: 1280px) {
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 80px;
    }

    .HS4Box {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
      align-items: flex-start;

      .HS4Title {
        width: auto;
        font-weight: 700;
        font-family: var(--primary-font);
        font-size: clamp(
          24px,
          3vw,
          36px
        ); // font-size clamp from small to 1280px
        line-height: clamp(28px, 4vw, 44px);
        margin-top: clamp(34px, 7vw, 101px);
        margin-bottom: clamp(28px, 6vw, 84px);
      }
    }

    .HS4Boxes {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;

      @media (min-width: 571px) {
        justify-content: space-between;
      }

      @media (min-width: 916px) {
        justify-content: flex-start;
      }

      @media (min-width: 1240px) {
        justify-content: space-between;
      }

      .HS4BoxItem {
        width: 258px;
        height: 323.74px;

        background-color: #ffffff;
        border-radius: 10px;
        border: 4px solid #eef7f5;
        position: relative;

        .HS4BoxContent {
          position: relative;

          .HS4Line {
            position: absolute;
            bottom: 47.19px;
            width: 250px;
            height: 1px;
            background-color: #d9d9d9;
            z-index: 1;
          }

          .box1 {
            position: relative;
            display: flex;
            flex-direction: row;
            margin-left: 22.36px;
            margin-top: 23.42px;

            .boxIcon {
              position: relative;
              width: 50px;
              height: 50px;
              margin-right: 12px;
              object-fit: cover;
            }

            .textbox1 {
              position: relative;
              display: flex;
              flex-direction: column;

              .boxTitle1 {
                font-size: 14px;
                font-weight: 700;
                font-family: var(--primary-font);
                color: #496a63;
              }

              .boxlocation {
                position: relative;
                display: flex;
                flex-direction: row;

                .boxicon2 {
                  position: relative;
                  width: 9.33px;
                  height: 11.67px;
                  margin-top: 3px;
                }

                .boxtext1 {
                  margin-left: 3px;
                  font-size: 12px;
                  font-weight: 400;
                  font-family: var(--primary-font);
                  color: #a3a3a3;
                }
              }
            }
          }

          .box2 {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-left: 22.36px;

            .boxTitle2 {
              margin-top: 26.35px;
              margin-bottom: 6px;
              font-size: 14px;
              font-weight: 700;
              font-family: var(--primary-font);
              color: #2c3f3c;
            }

            .boxiconbox1 {
              position: relative;
              display: flex;
              flex-direction: row;

              .boxicon3 {
                position: relative;
                width: 14px;
                height: 12.6px;
              }

              .boxtext2 {
                margin-left: 7px;
                margin-right: 14px;
                font-size: 12px;
                font-weight: 400;
                font-family: var(--primary-font);
                color: #a3a3a3;
              }

              .boxicon4 {
                position: relative;
                width: 9.8px;
                height: 14px;
              }

              .boxtext3 {
                margin-left: 7px;
                font-size: 12px;
                font-weight: 400;
                font-family: var(--primary-font);
                color: #a3a3a3;
              }
            }

            .boxtext4 {
              margin-top: 15px;
              margin-right: 15px;
              font-size: 10px;
              line-height: 16px;
              font-weight: 400;
              font-family: var(--primary-font);
              color: #a3a3a3;
            }

            .textbox2 {
              position: relative;
              display: flex;
              flex-direction: row;

              .boxTitle3 {
                margin-top: 70px;
                margin-right: 10px;
                font-size: 16px;
                font-weight: 700;
                font-family: var(--primary-font);
                color: #83bfb3;
              }

              .boxtext5 {
                margin-top: 72px;
                font-size: 10px;
                font-weight: 400;
                font-family: var(--primary-font);
                color: #a3a3a3;
              }

              .button1 {
                margin-top: 58px;
                margin-left: 6px;
                width: 98.9px;
                height: 30.54px;
                border-radius: 5px;
                background-color: #83bfb3;
                font-size: 12px;
                line-height: 54px;
                font-weight: 600;
                text-align: center;
                font-family: var(--primary-font);
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }

    .HS4ButtonRow {
      width: 100%;
      margin-top: 34px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .HS4NavButton {
      width: 160px;
      height: 40px;

      .label {
        line-height: 54px;
        text-align: center;
      }
    }
  }
}
