.formGroup {
  margin-bottom: var(--margin-bottom, 0);

  .formInput {
    display: block !important;
    line-height: 1.5;
    background: var(--background, transparent);
    background-clip: padding-box;

    /* padding: 0.375rem 0.75rem !important; */
    /* border: 1px solid #eaeaea; */
    /* border: var(--border) */
    /* border-radius: var(--border-radius, 0); */
    & :global(.MuiInputBase-root) {
      width: 100%;

      & :global(.MuiOutlinedInput-notchedOutline) {
        border: none;
      }

      input {
        padding: var(--padding, 16px 27px);
        color: var(--text-color);
        font-size: var(--size, 1rem);
        font-weight: var(--font-weight, 400);
        font-family: var(--font-family);
        border: var(--border, none);
        border-radius: var(--border-radius, 0);
        // border: var(--border, none);

        &::placeholder {
          color: var(--ph-text-color, var(--text-color)) !important;
          font-weight: var(--ph-font-weight, 400) !important;
          opacity: 0.5;
        }
      }

      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type='number'] {
        -moz-appearance: textfield;
      }
    }

    & :global(.MuiSelect-select) {
      padding: var(--padding, 16px 27px);
      border: var(--border, none);
      border-radius: var(--border-radius, 0);
      color: var(--text-color);
      font-size: var(--size, 1rem);
    }

    & :global(.Mui-disabled) {
      // background: var(--secondary-color);
      // cursor: not-allowed;
      -webkit-text-fill-color: var(--text-color) !important;
    }
  }
}
