@import url('./assets/fonts/fonts.css');

:root {
  --primary-color: #3da973;
  --secondary-color: #3da973;
  --title-color: #333333;
  --paragraph-color: #101010;
  --white-color: #ffffff;
  --background-color-main: #141414;
  --background-color-secondary: #ffffff;
  --background-color-third: rgba(1, 152, 204, 0.15); /* secondary color */
  --background-gradient: linear-gradient(180deg, #8fe9bc 0%, #27975f 100%);
  --icon-background: #faf8f2;
  --icon-gradient-start: #ed846e;
  --icon-gradient-stop: #fda592;
  --color-1: #51c333;
  --color-2: #ff0000;
  --color-3: #fcb500;

  font-family: 'Poppins', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variable */
  /* --web-max-width: 1400px; */
  --header-height: 50px;
  /* --primary-font: 'Baskervville', serif; */
  --primary-font: 'Montserrat', sans-serif;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* makes 1rem = 10px */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--white-color);
  line-height: normal;
  font-family: var(--primary-font);
  background: var(--background-color-secondary);
}

body.modal-open {
  overflow: hidden;
  height: 100vh;
}

img {
  width: 100%;
  display: block;
}

.customContainer {
  max-width: 425px !important;
  margin: 0 auto;
  background-color: var(--background-color-secondary);
  position: relative;
}

/* lock scroll when modal is open */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.marquee-containe {
  height: 36px;
}

.marqueeBox {
  background: var(--background-color-secondary);
  position: relative;
  width: 100%;
  height: 36px;
  overflow: hidden;
  padding: 0;
  display: flex;
  align-items: center;
  color: #000000;
}

.marquee .scroll {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 30s linear infinite;
}

.marquee {
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  color: #000000;
  /* clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap; */
}

@keyframes marquee {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -moz-transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

.marquee-container {
  height: 100%;
}

.theForm {
  background: #f6f6f6;
  color: #282828 !important;
  border-radius: 2px;
  width: 100%;
}

.theForm .MuiInput-underline:before {
  border-bottom: none !important;
}

.theForm .MuiInput-underline:after {
  border-bottom: none !important;
}

.theForm .MuiInputBase-root {
  width: 100%;
}

.theForm .MuiInputBase-root {
  font-weight: 500 !important;
}

.theForm .MuiOutlinedInput-notchedOutline {
  border: unset !important;
  border-radius: 2px;
}

.theForm .MuiOutlinedInput-input {
  color: #282828 !important;
  font-weight: 500;
  padding: 15px 16px !important;
  font-size: 12px;
  border-radius: 2px;
  /* font-family: ${(props) => props.fontfamily} !important; */
}

.theForm input::placeholder {
  font-weight: 500;
  opacity: 1;
  color: #282828 !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.my-toast-alert {
  background-color: var(--color-2) !important;
  padding: 10px 20px;
  color: #fff;
  border-radius: 30px;
  z-index: 100000 !important;
}

.my-toast-success {
  background-color: var(--color-1) !important;
  padding: 10px 20px;
  color: #fff;
  border-radius: 30px;
  z-index: 100000 !important;
}

.Mui-disabled {
  -webkit-text-fill-color: rgb(0 0 0 / 65%) !important;
}
